.App {
 text-align: center; 
 background-image: url('https://imgs.search.brave.com/hhWZ2f3p_6FVh3HiKQaGViU-ZCjyRVaUtyL-VtGt4g8/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9nYW1l/bHVzdGVyLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMS8w/Ni9FTERFTlJJTkdf/MDFfNEstc2NhbGVk/LmpwZw');
 color: white;
 text-shadow: 10px, black;
 background-size: 100%;
 
}








